body {
  margin: 0;
  background: url("skate.jpg") top center no-repeat;
  background-size: cover;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
 
@font-face {
  font-family: CollegiateFLF;
  src: url(CollegiateFLF.TTF);
}

* {
  font-family: verdana;
}

.form-gap {
  padding-top: 20px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width:960px;
  height:auto;
}

h2 {
    font-family: 'CollegiateFLF', serif;
    letter-spacing: 5px;
    color: #fff;
  }

h3 {
    color: #fff;
   }

p {
  color: #fff;
  text-align: center;
  text-justify: inter-word;
  }

  p:: a {
    color: #000; 
  }

   a.contact:visited,a.contact:link {
     color: #000;
    }
    
   a.contact:hover {
     color: #222;
    }

*
  {
    box-sizing: border-box;
  }

 .logo {
  opacity: 0.7;
  max-width: 100%;
  height: auto;
  display:block;
  margin-top: -15px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin 
navbar, jumbotron i footer.
*/ 

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.social_media {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #222;
  color: white;
}

.fa-twitter {
  background: #222;
  color: white;
}

.fa-instagram {
  background: #222;
  color: white;
}




a:link {
  color: #fff;
  text-decoration: none; 
 }


a:visited	{
  color: #fff;
 }

a:hover	{
 opacity: 1;
}

/* player, goalie and inline colors */

.panel-body-player{
  background-color: #000;
}

.panel-footer {
  background-color:#ddd;
  text-align: center;
}


.panel-body:hover {
    background-color: #000;
    opacity: 0.8;
  }

  .panel-body-player {
    background-color: #000;
  }


 /* begin test slider */

  * {box-sizing: border-box;}

.mySlides {display: none;}

  
/* Slideshow container */
  .slideshow-container {
    max-width: 1349px;
    position: relative;
    margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
  /*the end slider test*/

  
  /* Style inputs */
  input[type=text], input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #000;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    padding: 5px;
    width:  auto;
    height: auto;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5) !important;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    color: #fff;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  




