body {
  font-family: "Lato", sans-serif;
}

html, body {
  font-family: Verdana,sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 100%
  }
}

textarea {
  resize: none;
}

.social_address{
  font-size: 18px;
}

.social_address a:hover {
    color:   #000;
  }

.social_address a:link {
    color: #000;
      text-decoration: none; 
     }
     
.social_address a:visited	{
      color: #000;
     }

