body {
  margin: 0;
  background: url("skate.jpg") top center no-repeat;
  background-size: cover;
  height: 100%;
}

@font-face {
  font-family: CollegiateFLF;
  src: url(CollegiateFLF.ttf);
}

* {
  font-family: verdana;
}

 .logo   {
  opacity: 0.7;
  max-width: 100%;
  height: auto;
  display:block;
  margin-top: -15px;
}

.h3{
  font-family: 'CollegiateFLF', serif;
  letter-spacing: 5px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin 
navbar, jumbotron i footer to wycinka z htmla
*/ 

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.social_media {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #222;
  color: white;
}

.fa-twitter {
  background: #222;
  color: white;
}

.fa-instagram {
  background: #222;
  color: white;
}

/*odwiedzony link*/


a:link {
  color: #fff;
  text-decoration: none; 
 }

/*odwiedzony link*/
a:visited	{
  color: #fff;
 }
  /*link po najechaniu kursorem*/
a:hover	{
 opacity: 1;
}


/* player goaie and inline color itp*/

.panel-body-player{
  background-color: #000;
}

.panel-footer {
  background-color:#ddd;
  text-align: center;
}


.panel-body:hover {
    background-color: #000;
    opacity: 0.8;
  }

  .panel-body-player {
    background-color: #000;
  }



  /* slider begin */

  * {box-sizing: border-box;}

  .mySlides {display: none;}
 /* img {vertical-align: middle;} */
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1349px;
    position: relative;
    margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
  /*thr end slider*/



 /**shopping**/

 h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;color: #fff;}


.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto;transition:all .3s ease 0s}
.product-grid:hover .product-image img{transform:scale(1.1)}


.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);
    position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}

.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}

.product-grid .product-discount-label,.product-grid .product-new-label-arrival{color:#fff;background-color:#133ae7;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#c9302c;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}


.product-grid .social li a{
  color:#fff;
  background-color:#333;
  font-size:16px;
  line-height:55px;
  text-align:center;
  height: 56px;
  width:56px;
  margin: 2px;
  display:block;
  position:relative;
  transition:all .3s ease-in-out}


.product-grid .social li a:hover{color:#fff;background-color:#c9302c;}

.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#000;}
.product-grid .title a:hover,.product-grid:hover .title a{color:#1d1d1d;}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 25px;
}

p{
 font-size: 16px;
 color: #000;
}