body {
  margin: 0;
  background: url("skate.jpg") top center no-repeat;
  background-size: cover;
  height: 100%;
  }

 .logo {
  opacity: 0.7;
  max-width: 100%;
  height: auto;
  display:block;
  margin-top: -15px;
}

.h3 {
  font-family: 'CollegiateFLF', serif;
  letter-spacing: 5px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin 
navbar, jumbotron i footer 
*/ 

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.social_media {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #222;
  color: white;
}

.fa-twitter {
  background: #222;
  color: white;
}

.fa-instagram {
  background: #222;
  color: white;
}

a:link {
  color: #fff;
  text-decoration: none; 
 }


a:visited	{
  color: #fff;
 }

a:hover	{
 opacity: 1;
}


/* playe,r goalie and inline colors */

.panel-body {
  background-color: #f2f2f2f2;
}

.panel-footer {
  background-color:#ddd;
  text-align: center;
}

.panel-body:hover {
    background-color: #000;
    opacity: 0.8;
  }



  /* begin slidera */

* {
    box-sizing: border-box;
  }

.mySlides {
    display: none;
  }

  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1349px;
    position: relative;
    margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
  /*the end do slidertest*/


/*  Call Bootstrap  */

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*  Theme Elements  */

.gold{
	color: #FFBF00;
}

/*	PRODUCTS */

.product{
	border: 1px solid transparent;
	/*height: 321px;*/

}
.product>img {
	max-width: 600px;
}

.product-rating {
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title {
	font-size: 20px;
}

.product-price {
	font-size: 22px;
}

.product-stock {
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info {
		margin-top: 30px;
}

/* VIEW  */

.content-wrapper {
	max-width: 1140px;
	background: #ffffff;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 1px;
	border: 0px;
  border-radius: 0px;
}

.container-fluid {
	max-width: 1349px;
  margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 100%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.nav-tabs > li > a {
border: 1px solid transparent;
color: black;
}


/*loop*/
.glass {
    width: 175px;
    height: 175px;
    position: absolute;
    border-radius: 50%;
    cursor: crosshair;
   box-shadow:
      0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25), 
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
  }
  

  
  #wrap123 {
      max-width: 350px;
      margin: auto;
  }
  
  .product-single__photo {
      margin: 20px auto;
      text-align: center;
      padding: 20px;
  }
  
  