.form-gap {
    padding-top: 195px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width:480px;
    height:auto;
}

.container {
  
    padding: 5px;
    width:  auto;
    height: auto;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5) !important;
  }

  html,body{
    background-image: url("skate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color: #fff;
    }
    
    
   