.w3-blue,.w3-hover-black:hover{
    color:#000!important;
    background-color:#04abdf!important}



.w3-pink,.w3-hover-black:hover{
    color:#000!important;
    background-color:#f9a5a1!important;
}


body{
	font-family: "Lato", sans-serif
}




/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
	
	.column_1 {
    float: left;
    width: 33%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
	}	
	

	.column_4 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
	}	

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: 100%
    }
  }
	
	@media screen and (max-width: 600px) {
    .column_1 {
      width: 100%;
      height: 100%
    }
  }

	@media screen and (max-width: 600px) {
    .column_4 {
      width: 100%;
      height: 100%
    }
  }


/*********************************
Pricing
*******************************

.pricing
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 293px;
	padding-bottom: 126px;
	border-bottom: solid 3px #1e34af;
}
.pricing_row
{
	margin-top: 73px;
}
*/



.package
{
	width: 100%;
}
.package:hover
{

}

.package_title_container
{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-top: solid 2px #d4dcde;
	border-left: solid 2px #d4dcde;
	border-right: solid 2px #d4dcde;
}
.package:hover .package_title_container
{
	border-top: solid 2px #ba007c;
	border-left: solid 2px #ba007c;
	border-right: solid 2px #ba007c;
}
.package_title
{
	font-size: 24px;
	font-weight: 600;
	color: #000;
	line-height: 1.2;
}
.package_price_container
{
	display: inline-block;
	margin-top: 34px;
}
.package_price
{
	font-size: 48px;
	font-weight: 500;
	color: #ba007c;
	line-height: 0.75;
}
.package_price span
{
	font-size: 12px;
	font-weight: 500;
	color: #aaaaaa;
	line-height: 0.75;
	white-space: nowrap;
	vertical-align: baseline;
}
.package_price_container > div:last-child
{
	position: absolute;
	top: 3px;
	left: 67%;
	font-size: 16px;
	font-weight: 500;
	color: #373636;
	line-height: 0.75;
}
.pricing_image
{
	width: 100%;
}



.pricing_image img
{
	max-width: 100%;
}

.pricing_content
{
	padding-top: 20px;
	padding-bottom: 15px;
	border-left: solid 2px #d4dcde;
	border-right: solid 2px #d4dcde;
	border-bottom: solid 2px #d4dcde;
}
.package:hover .pricing_content
{
	border-left: solid 2px #ba007c;
	border-right: solid 2px #ba007c;
	border-bottom: solid 2px #ba007c;
}
.pricing_content ul li
{
	font-size: 14px;
	color: #838383;
	font-weight: 500;
}
.pricing_content ul li:not(:last-child)
{
	margin-bottom: 9px;
}
.pricing_content ul li span
{
	margin-right: 10px;
}
.pricing_button
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -21px;
}





.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 


.description{
	font-size: 14px;
	text-align: justify;
	text-justify: inter-word;
}

.w3-text{
	color: #ba007c;
}
h1{
	color: #fff;
}